
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!--LINK CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- FontAwsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/style.css">
    <!-- FontAwsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<!-- ======= Navbar Section ======= -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="~/images/sb-logos.png" alt="Logo" style="width:70px; height:70px;"> BRGY PORTAL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-house"></i> HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#about"><i class="fa-solid fa-circle-question"></i> ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#services"><i class="fa-solid fa-headset"></i> SERVICES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="~/Home/Message"><i class="fa-sharp fa-solid fa-phone"></i> CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="~/Home/Register"><i class="fa-solid fa-user-plus"></i> REGISTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="~/Home/Login"><i class="fa-solid fa-right-to-bracket"></i> LOGIN</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- ======= Carousel Section ======= -->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/b1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/b2.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6" data-aos="zoom-in">
                <img src="~/images/chart.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
                <div class="content pt-4 pt-lg-0">
                    <h3>Learn more about us</h3>
                    <p class="fst-italic">
                        The total population of Barangay Gulod,
                        Quezon City reached 53,325 as of
                        August 1, 2015. This accounts for 1.8
                        percent of the city’s total population.
                        The household population of Barangay
                        Gulod constituted a sum of 53,321
                        while the remaining 4 people belonged
                        to the institutional population or those residing in institutional living quarters such as
                        hotels, hospitals, orphanages, homes for the aged, jails, and military camps.
                        Of the household population, 26,749 or 50.2 percent were male while 26,572 or 49.8
                        percent were female. These figures resulted to a sex ratio of 101 males per 100
                        females
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2 mt-5" data-aos="fade-left" data-aos-delay="100">
                <img src="~/images/chart2.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content mt-5" data-aos="fade-right" data-aos-delay="100">
                <h3>Persons Aged 15 to 19 Years Comprise the Largest Age Group</h3>
                <p class="fst-italic">
                    The age-sex distribution of the population showed that persons aged 15 to 19 years
                    comprised the largest age group, making up 10.6 percent of the household
                    population. This was followed by those in the age groups 20 to 24 years (10.2
                    percent) and 5 to 9 years (10.0 percent).
                    Males outnumbered females in the age groups 0 to 54 years. Females, on the other
                    hand, outnumbered their male counterparts in the older age groups (55 years old
                    and over). Refer to Table 2 for details.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End About Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Services</h2>
            <p>Check our Services</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-file"></i></div>
                    <h4><a href="">Barangay Indigency</a></h4>
                    <p>A document that are sometimes required by the Philippine government or a private institution as proof of an individual's financial situation.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-scroll"></i></div>
                    <h4><a href="">Barangay Clearance</a></h4>
                    <p>Proof of your identity. This document includes your name, thumb mark, signature, issued date, and for what specific purpose.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-id-card"></i></div>
                    <h4><a href="">Barangay ID</a></h4>
                    <p>An officially recognized government-issued identification card. It is proof that you live where you say you do.</p>
                </div>
            </div>



        </div>

    </div>
</section>
<!-- End Services Section -->
<!-- ======= Gallery Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Gallery</h2>
            
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="~/images/g1.jpg" class="img-fluid" alt="" style="width:500px; height:260px">
                    <div class="portfolio-info">
                    </div>
                    <div class="portfolio-links">
                        <a href="~/images/g1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="~/images/g2.jpg" class="img-fluid" alt="" style="width:500px; height:260px">
                    
                    <div class="portfolio-links">
                        <a href="~/images/g2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="~/images/g3.jpg" class="img-fluid" alt="" style="width:500px; height:260px">
                  
                    <div class="portfolio-links">
                        <a href="~/images/g3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="~/images/g4.jpg" class="img-fluid" alt="" style="width:500px; height:260px">
                   
                    <div class="portfolio-links">
                        <a href="~/images/g4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="~/images/g5.jpg" class="img-fluid" alt="" style="width:500px; height:260px">
                   
                    <div class="portfolio-links">
                        <a href="~/images/g5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="~/images/g6.jpg" class="img-fluid" alt="" style="width:500px; height:260px">
                    
                    <div class="portfolio-links">
                        <a href="~/images/g6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="~/images/g7.jpg" class="img-fluid" alt="" style="width:500px; height:260px">
                   
                    <div class="portfolio-links">
                        <a href="~/images/g7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="~/images/g8.jpg" class="img-fluid" alt="" style="width:500px; height:260px">
                    
                    <div class="portfolio-links">
                        <a href="~/images/g8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="~/images/g9.jpg" class="img-fluid" alt="" style="width:500px; height:260px">
                    
                    <div class="portfolio-links">
                        <a href="~/images/g9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Portfolio Section -->
<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list">

            <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">How can I claim my documents? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        While the system does the job on making the documents. The user/Resident still need to claim their Document/s in the Barangay Hall once it is ready for claiming.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">I'm having a problem accessing my account. What should i do? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Contact the Barangay which is found on the About us or you can directly go to the Barangay hall to help you with your concern.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">I miscalculated and I need my documents ASAP. What can i do? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        The system does the job for you in the comfort of your own home, but remember that the barangay is still serving people on-site. So what you can do is go directly to the barangay state that you requested a document and just do the document requesting on-site.
                    </p>
                </div>
            </li>
            <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">I want to create an account. Where can i do that? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Our system aims to give you the best experience in using them. We can do that if all the information are validated and are credible. So to create an account you can do it online but you need to wait for the Verification of the staff for you to be able to use your account.
                    </p>
                </div>
            </li>
        </ul>

    </div>
</section>
<!-- End Frequently Asked Questions Section -->



@{
    Layout = "_Login-footer";
}


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="~/assets/vendor/aos/aos.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>
<script src="~/js/script.js"></script>
